@tailwind base;
@tailwind components;
@tailwind utilities;

html {
--scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}

body {
  color: white;
  background-color: #F3F3F3;
  -webkit-font-smoothing: antialiased;
}

